
# 模型名称
LLM_MODEL=glm-4.5-air

# API密钥
LLM_API_KEY=

# 服务地址
LLM_BASE_URL=

GEMINI_API_KEY=

PUSHOVER_USER=
PUSHOVER_TOKEN=

OPENAI_API_KEY = 



EMAIL_ADDRESS=
EMAIL_SMTP_SERVER=
EMAIL_SMTP_PORT=
EMAIL_APP_PASSWORD=


SERPER_API_KEY=

LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
